# Multi-variate Time-series Forecasting

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [33]:
df = pd.read_csv('/Users/anilthapa/Downloads/Netflix_Data.csv')

In [34]:
df.head()

,Unnamed: 0,Date,Adj_Close,Close,High,Low,Open,Volume
0,0,2010-01-04 00:00:00+00:00,7.640000,7.640000,7.961429,7.565714,7.931429,17239600
1,1,2010-01-05 00:00:00+00:00,7.358571,7.358571,7.657143,7.258571,7.652857,23753100
2,2,2010-01-06 00:00:00+00:00,7.617143,7.617143,7.672857,7.197143,7.361429,23290400
3,3,2010-01-07 00:00:00+00:00,7.485714,7.485714,7.757143,7.462857,7.731429,9955400
4,4,2010-01-08 00:00:00+00:00,7.614286,7.614286,7.742857,7.465714,7.498571,8180900

In [35]:
df['Date'] = pd.to_datetime(df['Date']).dt.date.astype(str)

In [36]:
df.columns

Index(['Unnamed: 0', 'Date', 'Adj_Close', 'Close', 'High', 'Low', 'Open',
       'Volume'],
      dtype='object')

In [37]:
df.drop(['Unnamed: 0','Adj_Close','Volume'], axis =1, inplace = True)

In [38]:
df.head()

         Date     Close      High       Low      Open
0  2010-01-04  7.640000  7.961429  7.565714  7.931429
1  2010-01-05  7.358571  7.657143  7.258571  7.652857
2  2010-01-06  7.617143  7.672857  7.197143  7.361429
3  2010-01-07  7.485714  7.757143  7.462857  7.731429
4  2010-01-08  7.614286  7.742857  7.465714  7.498571

In [39]:
df.set_index('Date', inplace=True)

In [40]:
df.sort_index(inplace=True)

In [41]:
df

                 Close        High         Low        Open
Date
2010-01-04    7.640000    7.961429    7.565714    7.931429
2010-01-05    7.358571    7.657143    7.258571    7.652857
2010-01-06    7.617143    7.672857    7.197143    7.361429
2010-01-07    7.485714    7.757143    7.462857    7.731429
2010-01-08    7.614286    7.742857    7.465714    7.498571
...                ...         ...         ...         ...
2024-10-29  759.440002  763.880005  748.010010  751.130005
2024-10-30  753.739990  759.789978  752.280029  758.080017
2024-10-31  756.030029  760.789978  752.229981  753.929993
2024-11-01  756.099976  763.799988  747.770019  753.479981
2024-11-04  755.510010  762.479981  749.690002  753.140015

[3735 rows x 4 columns]

In [42]:
df.isna().any()

Close    False
High     False
Low      False
Open     False
dtype: bool

In [55]:
train = df['2010-01':'2017-12']
valid = df['2018-01':'2018-12']
test = df['2019-01':'2019-12']

In [56]:
length = 56

In [57]:
train_ds = tf.keras.utils.timeseries_dataset_from_array(
    train.to_numpy(),
    targets=train[['High', 'Low']][56:],
    sequence_length=length,
    batch_size=32, 
    seed=42, 
    shuffle=True
)

In [58]:
valid_ds = tf.keras.utils.timeseries_dataset_from_array(
    valid.to_numpy(),
    targets=valid[['High', 'Low']][56:],
    sequence_length=length,
    batch_size=32
)

# Creating the model

In [63]:
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=[None, 4]),
    tf.keras.layers.SimpleRNN(32, return_sequences=True),
    tf.keras.layers.SimpleRNN(32, return_sequences=True),
    tf.keras.layers.Dense(2)
])

In [64]:
model.compile(loss='huber', optimizer = 'adam', metrics=['mae'])

In [65]:
history = model.fit(train_ds, validation_data=valid_ds, epochs=50)

Epoch 1/50

2024-12-26 07:09:53.347337: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: INVALID_ARGUMENT: Incompatible shapes: [32,56,2] vs. [32,2]
	 [[{{function_node __inference_one_step_on_data_9221}}{{node gradient_tape/compile_loss/huber/BroadcastGradientArgs_2}}]]

InvalidArgumentError: Graph execution error:

Detected at node gradient_tape/compile_loss/huber/BroadcastGradientArgs_2 defined at (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main

  File "<frozen runpy>", line 88, in _run_code

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py", line 17, in <module>

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/traitlets/config/application.py", line 992, in launch_instance

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/kernelapp.py", line 711, in start

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/tornado/platform/asyncio.py", line 195, in start

  File "/Users/anilthapa/anaconda3/lib/python3.11/asyncio/base_events.py", line 607, in run_forever

  File "/Users/anilthapa/anaconda3/lib/python3.11/asyncio/base_events.py", line 1922, in _run_once

  File "/Users/anilthapa/anaconda3/lib/python3.11/asyncio/events.py", line 80, in _run

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 499, in process_one

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/kernelbase.py", line 729, in execute_request

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/ipkernel.py", line 411, in do_execute

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/ipykernel/zmqshell.py", line 531, in run_cell

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3051, in run_cell

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3106, in _run_cell

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3311, in run_cell_async

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3493, in run_ast_nodes

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3553, in run_code

  File "/var/folders/b3/2_by4h4x5vj2swvvx86hmbw00000gn/T/ipykernel_51258/1425943892.py", line 1, in <module>

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/keras/src/backend/tensorflow/trainer.py", line 325, in fit

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/keras/src/backend/tensorflow/trainer.py", line 118, in one_step_on_iterator

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/keras/src/backend/tensorflow/trainer.py", line 106, in one_step_on_data

  File "/Users/anilthapa/anaconda3/lib/python3.11/site-packages/keras/src/backend/tensorflow/trainer.py", line 70, in train_step

Incompatible shapes: [32,56,2] vs. [32,2]
	 [[{{node gradient_tape/compile_loss/huber/BroadcastGradientArgs_2}}]] [Op:__inference_one_step_on_iterator_9286]

# Creating a RNN model

# Forecasting Several Time Step Ahead